
body{
    background-color: white;
    margin: 0px auto;
}
header{
    
}
.block1{
  
    background-color: rgb(241, 241, 241);
}
.block2{

}
.block3{

    background-color: rgb(241, 241, 241);
}
.block4{
}
footer{
    height: 72px;
    background-color: rgb(226, 226, 226);
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    gap: 30px;
}
.container{
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 80px 0px 80px 0px;
    
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    
}
p{
    margin: 0;
    font-size: 26px;
    font-family:'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
header .logo{
    width: 200px;
    height: 60px;
}
header .menu{
    width: 820px;
    height: 32px;
}
header .button{
    width: 120px;
    height: 42px;
}
.content{
    
    width: 585px;
    height: 267px;
}
.img{
    width: 585px;
    height: 520px;
}
.titlebackground{
    margin: 0px auto 40px auto;
    width: 100%;
    background-color: rgba(0,0,0,0);
    justify-items: center;
    
}
.title{
    
    width: 600px;
    height: 80px;
}
.block2 .item{
    width: 380px;
    height: 420px;
}
.block3 .item{
    width: 216px;
    height: 300px;
}
.block4 .item{
    width: 277.5px;
    height: 300px;
}
